<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="30000">
      <setting id="vk_token" type="text" label="30001" default="9baa01b7b841f1a05a0fef48d26e9b74ead40f78757fb369f1417c22653fdcb376efa1f81ffe56cadae22"/>
	  <setting label="30002" type="lsep"/>
	  <setting label="30003" type="lsep"/>
	  <setting label=" " type="lsep"/>
	  <setting label="30004" type="lsep"/>
   </category>
   <category label="30100">
	  <setting label="30101" type="slider" id="items_per_page" default="20" range="10,50" option="int"/>
	  <setting label="30102" type="enum" id="track_resolver_method" lvalues="30103|30104" default="0"/>
	  <setting label="30105" type="enum" id="playlist_resolver_method" lvalues="30106|30107" default="1"/>
	  <setting label="30108" type="lsep" />
	  <setting label="30109" type="enum" id="digster_country" values="Adria|Australia|Austria|Belgium|Denmark|Estonia|Finland|France|Germany|Latvia|Lithuania|Mexico|Netherlands|New Zeland|Norway|Poland|Portugal|Romania|Spain|Sweden|Switzerland|United Kingdom|USA" default="21"/>
	  <setting label="30110" type="bool" id="get_artist_fanart" default="false"/>
	  <setting label="30111" type="bool" id="hide_soundtrack" default="false"/>
   </category>
   <category label="30200">
	  <setting label="30201" type="folder" id="downloads_folder" source="auto" option="writeable"/>
   </category>
</settings>
